<launch>
    <arg name="frequency" default="10" doc="frequency argument"/>
    <arg name="rosbag_flag" default="false" doc="flag to enable/ disable bag file"/>
    <node pkg = "beginner_tutorials" type = "talker" name = "publisher_node" output = "screen" args="$(arg frequency)" />
    <node pkg = "beginner_tutorials" type = "listener" name = "subscriber_node" output = "screen" />
    <node pkg="rosbag" name="rosbag_node" type="rosbag_node" args="-a -O $(find beginner_tutorials)/bagfile/recorded_talker"
          if="$(arg rosbag_flag)"/>
</launch>